@import url("righthand_fixed_navigation_layout.css");

body {
  font-family: 'Libre Baskerville', 'Trebuchet MS', Verdana, Helvetica, sans-serif;
  background-color: transparent; color: #282828;
}

header {
  background-color: #09316D;
  color: #89A0C2;
}

nav {
  background-color: #EEC62A;
  color: inherit;
}

nav h2 {
  background-color: transparent;
  color: #7C3100;
}

nav > ul {
  color: #41409A;
  background-color: transparent;
}

nav > ul > li {
  color: inherit;
  background-color: transparent; 
}

nav > ul > li > ul {
  color: inherit;
  background-color: transparent;
}

nav > ul > li.active a, nav > ul > li > ul > li.active a {
  border-left: 10px solid #A58400;
}

nav a:link,
nav a:visited, 
nav a:hover, nav a:focus,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  padding-left: 2px;
}

nav a:link,
nav a:visited {
  border-top: 1px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 10px solid transparent;
  background-color: #FDDB58;
  color: #321900;
}

nav a:hover, nav a:focus,
nav a:active {
  border-top: 1px solid #7C6300;
  border-right: 10px solid #7C6300;
  border-bottom: 1px solid #7C6300;
  border-left: 10px solid #7C6300;
}

a:link, a:visited {
  background-color: transparent;
  color: #052452;
}

a:hover, a:focus, a:active {
  background-color: #09316D;
  color: #FFF;
  text-decoration: none;
}

footer {
  border-color: #A54100;
  border-style: solid;
  color: #7C3100;
  background-color: #FFF;
}

footer a:link, footer a:visited {
  background-color: #FFF;
  color: #7C3100;
}

footer a:hover, footer a:focus, footer a:active {
  background-color: #A54100;
  color: #FFF;
}


h2, h3, h4, h5, h6 {
  color: #7C3100;
  background-color: transparent;
}

main ul li {
  /*list-style-type: square;*/
  list-style-image: url('../img/orangebrown_listsquare.png');
}

#introquote {
  font-size: 1.1em;
  font-style: italic;
  width: 600px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #222222;
}
#introquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
blockquote cite {
  color: #555;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}
