@import url("righthand_floating_navigation_layout.css");

body, *[lang=zh-CN] *[lang=en]  {
  font-family: Verdana, 'Trebuchet MS', 'SF Pro', 'Libre Baskerville', Helvetica, sans-serif;
  background-color: transparent; color: #282828;
  font-size: 1em; line-height: 1.4em;
}

*[lang=zh-CN] *[lang=en] {
  font-size: 1rem;
}

header {
  background-color: #09316D;
  color: #89A0C2;
  /*border-radius: 4px;*/
  transform: rotate(-2deg); /* CSS 3 transforms: https://www.w3.org/TR/css-transforms-1/#typedef-transform-function */
  /*
  margin-top: -40px;
  border-top: 20px solid #09316D;
  margin-right: -16000px;
  border-right: 16000px solid red;
  margin-left: -100px;
  border-left: 100px solid #09316D;*/
}
h1 {
  margin-top: 36px;
  line-height: 1.3em;
}
h1, header p.toplinks {
  transform: rotate(2deg);
  /*border: 1px dotted red;*/
}
/*body p.toplinks {
  background-color: #09316D;
  color: #FFF;
}
p.toplinks a:link, p.toplinks a:visited {
  background-color: #09316D;
  color: #FFF;
}
p.toplinks a:hover, p.toplinks a:focus, p.toplinks a:active {
  background-color: #09316D;
  color: #FFF;
  text-decoration: none;
}*/

nav {
  background-color: #EEC62A;
  color: inherit;
  border-radius: 4px;
}

nav h2 {
  background-color: transparent;
  color: #7C3100;
}

nav > ul {
  color: #41409A;
  background-color: transparent;
}

nav > ul > li {
  color: inherit;
  background-color: transparent; 
}

nav > ul > li > ul {
  color: inherit;
  background-color: transparent;
}

nav > ul > li.active a, 
nav > ul > li > ul > li.active a {
  border-left: 10px solid #A58400;
}
nav > ul > li.active > ul > li a {
  border-left: 10px solid transparent;
}
nav > ul > li.active > ul > li a:hover,
nav > ul > li.active > ul > li a:focus {
  border-left: 10px solid #7C6300;
}

nav a:link,
nav a:visited, 
nav a:hover, nav a:focus,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  /*padding-left: 2px;*/
}

nav a:link,
nav a:visited {
  border-top: 1px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 10px solid transparent;
  background-color: #FDDB58;
  color: #321900;
}

nav a:hover, nav a:focus,
nav a:active {
  border-top: 1px solid #7C6300;
  border-right: 10px solid #7C6300;
  border-bottom: 1px solid #7C6300;
  border-left: 10px solid #7C6300;
}

a:link, a:visited {
  background-color: transparent;
  color: #052452;
}

a:hover, a:focus, a:active {
  background-color: #09316D;
  color: #FFF;
  text-decoration: none;
}

footer {
  border-color: #A54100;
  border-style: solid;
  color: #7C3100;
  background-color: #FFF;
}

footer a:link, footer a:visited {
  background-color: #FFF;
  color: #7C3100;
}

footer a:hover, footer a:focus, footer a:active {
  background-color: #A54100;
  color: #FFF;
}


h2, h3, h4, h5, h6 {
  color: #7C3100;
  background-color: transparent;
}

main ul > li {
  /*list-style-type: square;*/
  list-style-image: url('../img/orangebrown_listsquare.png');
}
ol li {
  list-style-image: none;
}

.introquote {
  font-size: 1.1em;
  font-style: italic;
  width: 600px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  background-color: transparent;
  color: #222222;
  border: 0;
}
.introquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote {
  background-color: #FDDB58;
  color: #321900;
  padding: 4px 12px;
  border: 2px solid #FDDB58;
  border-radius: 10px;
}
blockquote cite {
  color: #555;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}
li blockquote { margin: 4px 0;}
li blockquote p { margin: 0; padding: 0;}

blockquote.neutralquote {
  margin: 0 0 0 0;
}
blockquote.neutralquote blockquote, blockquote.neutralquote p {
  margin-top: 0;
  margin-bottom: 0;
}

dt, dd {
  border-bottom: 1px solid  #7C3100;
  color: inherit;
  line-height: 1.4em;
  padding-left: 4px;
}
dt {
  background-color: #FDDB58;
  margin-top: 4px;
  font-weight: bolder;
}
dd {
  border-left: 1px solid #7C3100;
  margin-top: 2px;
}

dl.dialogue { 
  background-color: #FDDB58;
  border-radius: 0px 10px;
}
dl.dialogue dt, dl.dialogue dd {
  border-bottom: none;
  border-left: none;
  background-color: transparent;
  color: inherit;
}
dl.dialogue dt {
  font-weight: bolder;
  font-variant: small-caps;
  color: #7C3100;
}

table {
  border-collapse: collapse;
  margin-bottom: 12pt;
}
th, td {
  border: 1px solid gray;
  padding: 4px;
}
tbody tr th {
  text-align: left;
}

.solutions strong {
  color: green;
  background-color: transparent;
}
.solutions del {
  color: red;
  background-color: transparent;
}
.solutions ins {
  color: #09316D;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
.solutions del:before {
  content: "*";
  color: red;
  background-color: transparent;
}

/* see http://www.kapba.de/AbkhazianFonts.html http://www.eaglefonts.com/truetype-abkhaz---adyghe---kabardian---kazakh-fonts-195.htm */
*[lang=ab] {
  font-family: Apsni, 'CC Arial', 'Times Abkhaz', sans-serif;
}
*[lang=chr] {
  /* Digohweli Cherokee Unicode font @@ see http://www.cherokee.org/AboutTheNation/Language/CherokeeFont.aspx */
}
*[lang=ja] {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
  /*see http://stackoverflow.com/questions/14563064/japanese-standard-web-fonts*/
}
/* languages using the Tibetan script: */
*[lang=adx], *[lang=khg], *[lang=bo], *[lang=dz], *[lang=lbj] {
  font-size: 1.4em;
}

/* Other Chinese fonts: "FangSong", "仿宋"; see http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/ & http://webdesign.tutsplus.com/articles/the-complete-beginners-guide-to-chinese-fonts--cms-23444 */
*[lang=zh-CN], rb[lang=zh-CN], span[lang=zh-CN], .solutions[lang=zh-CN], .solutions span[lang=zh-CN], td[lang=zh-CN] {
  font-family: "KaiTi", "楷体", STKaiti, "华文楷体", STFangSong, "华文仿宋", Simsun, 'MS Song', Song, STSong;
  font-style: normal;
}
*[lang=zh-CN], rb[lang=zh-CN], span[lang=zh-CN], .solutions[lang=zh-CN], .solutions span[lang=zh-CN], nav li a[lang=zh-CN] { /*not: .solutions :lang(zh-CN)*/
  font-size: 1.3em;
}
.solutions[lang=zh-CN] span[lang=en], .solutions[lang=zh-CN] span[lang=en-GB], td.pinyin[lang=zh-CN], td[lang=zh-CN] span.pinyin {
  font-family: 'Libre Baskerville', 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}
.solutions[lang=zh-CN] span[lang=en], .solutions[lang=zh-CN] span[lang=en-GB] {
  font-size: 0.8em;
}
p.solutions[lang=zh-CN]{
  text-indent: 2em;
}
td[lang=zh-CN] {
  font-size: 1.4em;
}
td.pinyin[lang=zh-CN] {
  font-size: 1em; 
}
td[lang=zh-CN] span.pinyin {
  font-size: 0.7em;
}

.uppercase { text-transform: uppercase; }
